.regions :hover {
    fill: #9b111e; 
    cursor: pointer;
  }


  
.region-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

div.tooltip {   
  position: absolute;           
   text-align: center;           
   width: 60px;                  
   height: 28px;                 
   padding: 2px;             
   font: 12px sans-serif;        
   background: white;   
   border: 0px;      
   border-radius: 8px;           
   pointer-events: none;         
 }




  