.regions :hover {
    stroke: black;
  }
  
.region-borders {
  fill: none;
  stroke: black;
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

#smallSelect{
  border: 1px solid black;
  padding: 20px;
  border-radius: 50px;
  background-color: white
}


.selectedRegion {
  stroke: black;
  stroke-width: 5px;

}

div.tooltip {   
  position: absolute;           
   text-align: center;           
   width: 60px;                  
   height: 28px;                 
   padding: 2px;             
   font: 12px sans-serif;        
   background: white;   
   border: 0px;      
   border-radius: 8px;           
   pointer-events: none;         
 }

 .label {
  z-index: 10;
  pointer-events: none;
  text-anchor: middle;
  font-size: 1rem;
  text-shadow: 0 0 3px #fff;
  fill: rgb(70, 70, 70);
}




  